<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Начальная страница</title>
</head>
<body>
    <h1>Это начальная страница социальной сети для обмена фотографиями.</h1>
    <p>
        <ul>Список постов: /posts/

            <li>Конкретный пост: /posts/{id}/</li>

            <li>Лайки для поста: /posts/{id}/like/</li>

            <li>Комментарии к посту: /posts/{post_id}/comments/</li>

            <li>Конкретный комментарий: /posts/{post_id}/comments/{comment_id}/</li>
        </ul>
    </p>

</body>
</html>